body {
  background-image: url("/Users/g_cssconference/Documents/Website/lifehacks.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-color: #9BF3FF;
}
p {
	position:absolute;
	top:600px;
	left:300px;
}
